[meta]
job_path = /home/sninfa/jobs/

[exec]
mgs_labeling = /home/sninfa/git-repos/MuonSeparation/effectiveAreaEstimation/labelWriterMGS.py
ice_rec = /data/user/sninfa/combo/build/env-shell.sh

[data]
geometry = /data/user/sninfa/det.i3.bz2
dust = /data/user/sninfa/ice_coeff.txt

[src]
src_14 = /data/user/sninfa/simulation_scripts/muon_gun/14/step_1_general_photon_propagation/
src_15 = /data/user/sninfa/simulation_scripts/muon_gun/15/step_1_general_photon_propagation/
src_42 = /data/user/sninfa/simulation_scripts/muon_gun/42/step_1_general_photon_propagation/
src_666 = /data/user/sninfa/simulation_scripts/muon_gun/666/step_1_general_photon_propagation/

[out]
logs = /mnt/scratch/sninfa/logs/
out_14 = /data/user/sninfa/simulation_scripts/muon_gun/pre_sim_label/mgs_14/
out_15 = /data/user/sninfa/simulation_scripts/muon_gun/pre_sim_label/mgs_15/
out_42 = /data/user/sninfa/simulation_scripts/muon_gun/pre_sim_label/mgs_42/
out_666 = /data/user/sninfa/simulation_scripts/muon_gun/pre_sim_label/mgs_666/
