[meta]
job_path = /home/sninfa/jobs/

[exec]
mgsWeighter = /home/sninfa/git-repos/MuonSeparation/effectiveAreaEstimation/mgsWeighter.py
ice_rec = /data/user/sninfa/combo/build/env-shell.sh

[data]
geometry = /data/user/sninfa/det.i3.bz2
dust = /data/user/sninfa/ice_coeff.txt

[model]
model_file = /data/user/sninfa/effectiveAreaEstimation/preClassifier_v6.pickle
cut = 0.53

[src]
src_42 = /data/user/sninfa/simulation_scripts/muon_gun/temp/step_0_muongun_general/
src_14 = /data/user/sninfa/simulation_scripts/muon_gun/14/step_0_muongun_general/

[out]
logs = /mnt/scratch/sninfa/logs/
out_42 = /data/user/sninfa/simulation_scripts/muon_gun/42/step_0_muongun_general/
out_14 = /data/user/sninfa/simulation_scripts/muon_gun/666/step_0_muongun_general/

