[meta]
job_path = /home/sninfa/jobs/

[exec]
feature_extraction = /home/sninfa/git-repos/MuonSeparation/featureGeneration/featureExtraction.py
ice_rec = /data/user/sninfa/combo/build/env-shell.sh
hd5_writer = /home/sninfa/git-repos/MuonSeparation/featureGeneration/HD5Writer.py

[data]
geometry = /data/user/sninfa/det.i3.bz2
dust = /data/user/sninfa/ice_coeff.txt

[src]
src_11057 = /data/ana/Muon/level3/sim/2012/CORSIKA-in-ice/11057/
src_11058 = /data/ana/Muon/level3/sim/2012/CORSIKA-in-ice/11058/
src_11499 = /data/ana/Muon/level3/sim/2012/CORSIKA-in-ice/11499/
src_44137 = /data/ana/Diffuse/muongun_floodlight/44137/step_5_2012_muon_L3/
pck_11057 = 100
pck_11058 = 10
pck_11499 = 10
pck_44137 = 1

[out]
logs = /mnt/scratch/sninfa/logs/
out_11057 = /data/user/sninfa/level4_mc/11057/
out_11058 = /data/user/sninfa/level4_mc/11058/
out_11499 = /data/user/sninfa/level4_mc/11499/
out_44137 = /data/user/sninfa/level4_mc/44137/
