[meta]
job_path = /home/sninfa/jobs/

[exec]
mgs_labeling = /home/sninfa/git-repos/MuonSeparation/effectiveAreaEstimation/labelWriterMGS.py
ice_rec = /data/user/sninfa/combo/build/env-shell.sh

[data]
geometry = /data/user/sninfa/det.i3.bz2
dust = /data/user/sninfa/ice_coeff.txt

[src]
src_14 = /data/user/sninfa/simulation_scripts/muon_gun/14/step_4_2012_L2/

[out]
logs = /mnt/scratch/sninfa/logs/
out_14 = /data/user/sninfa/simulation_scripts/muon_gun/level_2/mgs_14/