[meta]
job_path = /home/sninfa/jobs/

[exec]
feature_extraction = /home/sninfa/NinfaAnalysis/MuonSeparation/featureGeneration/featureExtraction.py
ice_rec = /data/user/sninfa/combo/build/env-shell.sh
hd5_writer = /home/sninfa/NinfaAnalysis/MuonSeparation/featureGeneration/HD5Writer.py

[data]
geometry = /data/user/sninfa/det.i3.bz2
dust = /data/user/sninfa/ice_coeff.txt

[src]
src_13 = /data/user/sninfa/simulation_scripts/muon_gun/13/step_5_2012_muon_L3_py2-v3_0_1/
src_14 = /data/user/sninfa/simulation_scripts/muon_gun/14/step_5_2012_muon_L3_py2-v3_0_1/
src_15 = /data/user/sninfa/simulation_scripts/muon_gun/15/step_5_2012_muon_L3_py2-v3_0_1/
src_42 = /data/user/sninfa/simulation_scripts/muon_gun/42/step_5_2012_muon_L3_py2-v3_0_1/
src_666 = /data/user/sninfa/simulation_scripts/muon_gun/666/step_5_2012_muon_L3_py2-v3_0_1/

[out]
logs = /mnt/scratch/sninfa/logs/
out_13 = /data/user/sninfa/simulation_scripts/muon_gun/level_4/mgs_13/
out_14 = /data/user/sninfa/simulation_scripts/muon_gun/level_4/mgs_14/
out_15 = /data/user/sninfa/simulation_scripts/muon_gun/level_4/mgs_15/
out_42 = /data/user/sninfa/simulation_scripts/muon_gun/level_4/mgs_42/
out_666 = /data/user/sninfa/simulation_scripts/muon_gun/level_4/mgs_666/
